#buttons,
h1 {
    display: flex;
    justify-content: center;
}

button {
    width: 100px;
    height: 70px;
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}